.card {
  background: #e7e7e7;
  border-radius: 16px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.info {
  width: 100%;
  flex: 1;
}

.info ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.info li {
  font-size: 18px;
  color: #1f2937;
}

.info li strong {
  font-weight: 600;
  color: #111827;
}

.photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #090e08;
}

.name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.email {
  margin: 4px 0;
  font-size: 14px;
  color: #6b7280;
  text-align: center;
  margin-bottom: 6px;
}

.city {
  font-size: 13px;
  color: #9ca3af;
  text-align: center;
  margin-bottom: 15px;
}

.buttonArea {
  margin-top: auto;
  /* empurra o botão para baixo */
  display: flex;
  justify-content: center;
}

button {
  margin-top: auto;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: #87a685;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #87a685;
}
