.container{
  border-radius: 16px;
  border: 1px solid #DAF1DD;
  background-color: #DAF1DD;
  box-shadow: 1px 16px 16px 1px #A9BEAB;
  width: 684px;
  max-width: 90%;
  margin: 70px auto;
  margin-bottom: 70px;
  padding: 56px 130px;
  box-sizing: border-box;
}
